USE [master]
GO
/****** Object:  Database [OnlineQuiz]    Script Date: 3/5/2020 9:25:08 PM ******/
CREATE DATABASE [OnlineQuiz]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OnlineQuiz].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OnlineQuiz]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 3/5/2020 9:25:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NULL,
	[type_account] [int] NULL,
	[email] [nvarchar](50) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Question]    Script Date: 3/5/2020 9:25:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[quiz_id] [nvarchar](50) NULL,
	[question] [text] NULL,
	[answer] [text] NULL,
	[answer_correct] [nvarchar](50) NULL,
 CONSTRAINT [PK_Quiz] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Quiz]    Script Date: 3/5/2020 9:25:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quiz](
	[id] [nvarchar](50) NOT NULL,
	[name] [nvarchar](200) NULL,
	[creator] [nvarchar](50) NULL,
	[createdDate] [date] NULL CONSTRAINT [DF_Quiz_createdDate]  DEFAULT (getdate()),
 CONSTRAINT [PK_Quiz_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Type_Account]    Script Date: 3/5/2020 9:25:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type_Account](
	[id] [int] NOT NULL,
	[type] [nvarchar](50) NULL,
 CONSTRAINT [PK_Type_User] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Account] ([username], [password], [type_account], [email]) VALUES (N'kienLT', N'202CB962AC59075B964B07152D234B70', 2, NULL)
INSERT [dbo].[Account] ([username], [password], [type_account], [email]) VALUES (N'quan', N'202CB962AC59075B964B07152D234B70', 1, N'lehongquan15a@gmail.com')
INSERT [dbo].[Account] ([username], [password], [type_account], [email]) VALUES (N'quanLH', N'202CB962AC59075B964B07152D234B70', 1, N'quan@gmail.com')
SET IDENTITY_INSERT [dbo].[Question] ON 

INSERT [dbo].[Question] ([id], [quiz_id], [question], [answer], [answer_correct]) VALUES (1, N'test1', N'The name of Capital of Vietnam after year of 1975?', N'Ha Noi|Hai Phong|Tp Ho Chi Minh|Ca Mau', N'Ha Noi')
INSERT [dbo].[Question] ([id], [quiz_id], [question], [answer], [answer_correct]) VALUES (2, N'test1', N'1+1=?', N'1|2|3|4', N'2')
INSERT [dbo].[Question] ([id], [quiz_id], [question], [answer], [answer_correct]) VALUES (3, N'test1', N'2+2=?', N'1|2|3|4', N'4')
SET IDENTITY_INSERT [dbo].[Question] OFF
INSERT [dbo].[Quiz] ([id], [name], [creator], [createdDate]) VALUES (N'test1', N'Test 1', N'kienLT', CAST(N'2020-03-02' AS Date))
INSERT [dbo].[Quiz] ([id], [name], [creator], [createdDate]) VALUES (N'test2', N'Test 2', N'kienLT', CAST(N'2020-03-02' AS Date))
INSERT [dbo].[Quiz] ([id], [name], [creator], [createdDate]) VALUES (N'test3', N'Test 3', N'kienLT', CAST(N'2020-03-05' AS Date))
INSERT [dbo].[Type_Account] ([id], [type]) VALUES (1, N'Student')
INSERT [dbo].[Type_Account] ([id], [type]) VALUES (2, N'Teacher')
ALTER TABLE [dbo].[Account]  WITH CHECK ADD FOREIGN KEY([type_account])
REFERENCES [dbo].[Type_Account] ([id])
GO
ALTER TABLE [dbo].[Question]  WITH CHECK ADD  CONSTRAINT [FK__Question__quiz_i__3A81B327] FOREIGN KEY([quiz_id])
REFERENCES [dbo].[Quiz] ([id])
GO
ALTER TABLE [dbo].[Question] CHECK CONSTRAINT [FK__Question__quiz_i__3A81B327]
GO
ALTER TABLE [dbo].[Quiz]  WITH CHECK ADD  CONSTRAINT [FK__Quiz__creator__3B75D760] FOREIGN KEY([creator])
REFERENCES [dbo].[Account] ([username])
GO
ALTER TABLE [dbo].[Quiz] CHECK CONSTRAINT [FK__Quiz__creator__3B75D760]
GO
USE [master]
GO
